{% extends 'listar.html' %}

{% load static %}
{% load widget_tweaks %}

{% block contenido %}

<form method="post" action="." id="createForm">
    <div class="card card-default">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item">
                        <a href="{{ breadcrumb.url }}">{{ breadcrumb.nombre }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ titulo }}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div id="alert-container"></div>
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <h5><i class="icon fas fa-ban"></i>
                    {% if form.instance.pk %}
                        Ha ocurrido un error al intentar {{ titulo }}.
                    {% else %}
                        Ha ocurrido un error al intentar crear {{ titulo }}.
                    {% endif %}
                </h5>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                <div class="invalid-feedback">
                    {{ field.errors|striptags }}
                </div>
                <div class="mandatory-feedback" style="display:none; color: red;">Este campo es obligatorio</div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-success" id="confirmButton">
                <i class="fas fa-save"></i> Confirmar
            </button>
            <a href="{{ listar_url }}" class="btn btn-danger custom-btn print-hidden">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>

<script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script>
    document.getElementById('confirmButton').addEventListener('click', function(e) {
        e.preventDefault(); 

        // Validación de campos vacíos
        let isValid = true;
        let formFields = document.querySelectorAll('#createForm .form-control');
        let fechaEmisionField = document.querySelector('[name="fecha_emision"]');
        let today = new Date().toISOString().split('T')[0];  // Fecha actual en formato YYYY-MM-DD

        formFields.forEach(function(field) {
            let feedback = field.parentNode.querySelector('.mandatory-feedback');
            if (field.value.trim() === '') {
                isValid = false;
                field.classList.add('is-invalid');
                feedback.style.display = 'block'; // Mostrar mensaje de campo obligatorio
            } else {
                field.classList.remove('is-invalid');
                feedback.style.display = 'none'; // Ocultar mensaje si el campo es válido
            }
        });

        // Validar que la fecha de emisión no sea mayor a la fecha actual
        if (fechaEmisionField.value && (fechaEmisionField.value > today)) {
            isValid = false;
            Swal.fire({
                title: 'Fecha Inválida',
                text: 'La fecha de emisión no puede ser mayor a la fecha actual.',
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                backdrop: true,
                timer: 4000,
                timerProgressBar: true,
                position: 'center',
                allowOutsideClick: true,
            });
            fechaEmisionField.classList.add('is-invalid');
            let errorDiv = fechaEmisionField.parentNode.querySelector('.invalid-feedback');
            errorDiv.innerHTML = 'La fecha de emisión no puede ser mayor a la fecha actual.';
            return;  // Detener la ejecución si la fecha es inválida
        } else {
            fechaEmisionField.classList.remove('is-invalid');
        }

        if (!isValid) {
            Swal.fire({
                title: 'Campo vacío',
                text: 'Debe llenar todos los campos de registro.',
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                backdrop: true,
                timer: 3000,
                timerProgressBar: true,
                position: 'center',
                allowOutsideClick: true,
            });
            return; // Detener la ejecución si hay campos vacíos
        }

        // Obtener los datos del formulario
        let formData = new FormData(document.getElementById('createForm'));

        // Enviar los datos mediante AJAX
        fetch(".", {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => { throw data; });
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                Swal.fire({
                    title: 'Registrado Correctamente',
                    text: 'La venta ha sido registrada exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Continuar',
                    backdrop: true,
                    timer: 2000,
                    timerProgressBar: true,
                    position: 'center',
                    allowOutsideClick: false,
                }).then(() => {
                    window.location.href = "{{ listar_url }}"; // Redirigir al listado
                });
            }
        })
        .catch(data => {
            // Mostrar alerta de error
            const errorMessage = data.message;
            const specificErrors = data.errors; // Obtenemos errores específicos
        
            // Si hay errores específicos, los recopilamos en un solo mensaje
            let detailedMessages = [];
        
            if (specificErrors) {
                if (specificErrors.num_factura) {
                    detailedMessages.push(specificErrors.num_factura[0]); // Agregar mensaje de num_factura
                }
                if (specificErrors.fecha_emision) {
                    detailedMessages.push(specificErrors.fecha_emision[0]); // Agregar mensaje de fecha_emision
                }
                if (specificErrors.cliente) {
                    detailedMessages.push(specificErrors.cliente[0]); // Agregar mensaje de cliente
                }
            }
        
            // Unimos los mensajes detallados con saltos de línea HTML
            let detailedMessage = detailedMessages.length > 0 ? detailedMessages.join('<br>') : '';
        
            Swal.fire({
                title: 'Inválido',
                html: detailedMessage || errorMessage,
                icon: 'warning',
                confirmButtonText: 'Aceptar',
            });
        
            // Resaltar los campos con errores y mostrar debajo del campo
            if (specificErrors) {
                Object.keys(specificErrors).forEach(function(key) {
                    let field = document.querySelector(`[name=${key}]`);
                    if (field) {
                        field.classList.add('is-invalid');
                        let errorDiv = field.parentNode.querySelector('.invalid-feedback');
                        if (errorDiv) {
                            errorDiv.innerHTML = specificErrors[key][0];  // Mostrar el error debajo del campo
                        }
                    }
                });
            }
        });
    });
</script>

{% endblock %}
