{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Precio</th>
    <th scope="col">Categoría</th>
    <th scope="col">Descripción</th>
    <th scope="col">Stock</th>
    <th scope="col">Tipo de producto</th>
    <th scope="col">Opciones</th>

</tr>
{% endblock %}

{% block filas %}
{% for pro in object_list %}
<tr>
    <td>{{pro.id}}</td>
    <td>{{pro.nombre}}</td>
    <td>{{pro.precio}}</td>
    <td>{{pro.categ.nombre}}</td>
    <td>{{pro.descripcion}}</td>
    <td>{{pro.stock}}</td>
    <td>{{pro.tipo_pro.nombre}}</td>
    <td>
        <a href="{% url 'app:producto_editar' pro.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:producto_eliminar' pro.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}