body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.backup-container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.backup-header {
    text-align: center;
    margin-bottom: 20px;
}

.backup-header h1 {
    color: #007bff;
}

.backup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backup-button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Color para el botón de backup */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backup-button:hover {
    background-color: #218838; /* Hover para el botón de backup */
}

.restore-button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #25b5ce; /* Color para el botón de restaurar */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restore-button:hover {
    background-color: #0793ac; /* Hover para el botón de restaurar */
}

#select-file-button {
    background-color: #007bff; /* Color para el botón de seleccionar archivo */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

#select-file-button:hover {
    background-color: #0056b3; /* Hover para el botón de seleccionar archivo */
}

#file-name {
    margin-top: 10px;
    color: #555;
}