<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validar Correo Electrónico</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Validar Correo Electrónico</h1>

    <!-- Muestra los mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- El formulario para ingresar el correo electrónico -->
    <form method="post" action="{% url 'check_email' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Validar Correo</button>
    </form>

</body>
</html>
