{% extends 'crear.html' %}

{% load widget_tweaks %}

{% block contenido %}

<form method="post" action=".">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %} {% if form.errors %} {{form.errors}}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                <h5>
                    <i class="icon fas fa-ban"></i> Ha ocurrido un error al intentar crear un Proveedor.
                </h5>
                <ul>
                    {% for field in form %} {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %} {% endfor %}
                </ul>
            </div>
            {% endif %} 
            
            <div class="form-group">
                <label for="tipo_persona">Tipo de Persona</label>
                {{ form.tipo_persona|add_class:'form-control'|attr:'id:tipo_persona'|attr:'autocomplete:off'}}
            </div>
            <div class="form-group" id="nombres_field">
                <label for="id_nombres">Nombres</label>
                {{ form.nombres|add_class:'form-control'|attr:'autocomplete:off'|attr:'id:id_nombres'}}
            </div>
            <div class="form-group" id="razon_social_field" style="display:none;">
                <label for="id_razon_social">Razón Social</label>
                {{ form.razon_social|add_class:'form-control'|attr:'autocomplete:off'|attr:'id:id_razon_social'}}
            </div>
            <div class="form-group" id="tipo_documento_field">
                <label for="id_tipo_documento">Tipo de documento</label>
                {{ form.tipo_documento|add_class:'form-control'|attr:'autocomplete:off'|attr:'id:id_tipo_documento'}}
            </div>
            <div class="form-group" id="numero_documento_field">
                <label for="id_numero_documento">Numero documento</label>
                {{ form.numero_documento|add_class:'form-control'|attr:'autocomplete:off'|attr:'id:id_numero_documento'}}
            </div>
            {% for field in form.visible_fields %}
            {% if field.name not in "tipo_persona,nombres,razon_social,tipo_documento,numero_documento" %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off'}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="card-footer">
            <button class="btn btn-success swalDefaultSuccess">
                <i class="fas fa-save"></i>
                Confirmar
            </button>
            <a href="{{ listar_url }}" class="btn btn-info btn-flat" style="background-color: #b82b2b; color: white;">
                <i class="fas fa-times"></i> Cancelar
            </a>            
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tipoPersonaField = document.getElementById('tipo_persona');
        var nombresField = document.getElementById('nombres_field');
        var razonSocialField = document.getElementById('razon_social_field');
        var tipo_documentoField = document.getElementById('tipo_documento_field');
        var numero_documentoField = document.getElementById('numero_documento_field');

        function toggleFields() {
            if (tipoPersonaField.value === 'PN') {
                nombresField.style.display = 'block';
                razonSocialField.style.display = 'none';
                tipo_documentoField.style.display = 'block';
                numero_documentoField.style.display = 'block';
            } else {
                nombresField.style.display = 'none';
                razonSocialField.style.display = 'block';
                tipo_documentoField.style.display = 'block';
                numero_documentoField.style.display = 'block';
            }
        }

        tipoPersonaField.addEventListener('change', toggleFields);
        toggleFields();
    });

    {% if form.errors %}
    Swal.fire({
        title: 'Error',
        text: 'Ha ocurrido un error al intentar guardar un Proveedor',
        icon: 'error',
        confirmButtonText: 'Aceptar'
    });
    {% endif %}
</script>
{% endblock %}