{% extends "listar.html" %}

{% block columnas %}
<tr>
  <th scope="col">Id</th>
  <th scope="col">Tipo de Persona</th>
  <th scope="col">Nombre/Razón Social</th>
  <th scope="col">Correo</th>
  <th scope="col">Telefono</th>
  <th scope="col">Direccion</th>
  <th scope="col">Tipo de Documento</th>
  <th scope="col">Cod_postal_id</th>
</tr>
{% endblock %}

{% block filas %}
{% for p in proveedores %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.get_nombre_mostrar }}</td>
    <td>{{ p.apellidos }}</td>
    <td>{{ p.correo }}</td>
    <td>{{ p.telefono }}</td>
    <td>{{ p.direccion }}</td>
    <td>{{ p.tipo_documento }}</td>
    <td>{{ p.cod_postal.ciudad }}</td>
    <td>
        <a href="{% url 'app:proveedor_editar' p.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:proveedor_eliminar' p.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}