{% extends "listar.html" %}

{% block columnas %}
<tr>
  <th scope="col">Id</th>
  <th scope="col">Tipo de Persona</th>
  <th scope="col">Nombres</th>
  <th scope="col">Apellidos</th>
  <th scope="col">Razón Social</th>
  <th scope="col">Tipo de Documento</th>
  <th scope="col">Numero de Documento</th>
  <th scope="col">Correo</th>
  <th scope="col">Telefono</th>
  <th scope="col">Ciudad</th>
  <th scope="col">Direccion</th>
  <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for p in proveedores %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.tipo_persona }}</td>
    <td>{{ p.nombres }}</td>
    <td>{{ p.apellidos }}</td>
    <td>{{ p.razon_social }}</td>
    <td>{{ p.tipo_documento }}</td>
    <td>{{ p.numero_documento }}</td>
    <td>{{ p.correo }}</td>
    <td>{{ p.telefono }}</td>
    <td>{{ p.cod_postal.ciudad }}</td>
    <td>{{ p.direccion }}</td>
    <td>
        <a href="{% url 'app:proveedor_editar' p.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:proveedor_eliminar' p.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block javascript %}
<script type="application/javascript">
$(document).ready(function () { 
    if ($('#tabla').length > 0) { 
        $('#tabla').DataTable({
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: [0, -1] }, // Priorizar la primera y última columna
                { responsivePriority: 2, targets: [9, 10, 11] }, // Ajustar según tus necesidades específicas
                // Asegurar que las columnas necesarias no se oculten en pantallas pequeñas
                { responsivePriority: 3, targets: [1, 2, 3, 4, 5, 6, 7, 8] }
            ]
        });
    }
});
</script>
{% endblock %}