{% extends "listar.html" %}
{# Extiende la plantilla base 'listar.html' #}

{% load static %}
{# Carga la etiqueta estática para usar archivos estáticos #}

{% block filtro_form_contenido %}
{# Bloque para el formulario de filtrado #}
<form method="GET" action="{% url 'app:proveedor_listar' %}">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="tipo_persona">Tipo de Persona</label>
                <select class="form-control" id="tipo_persona" name="tipo_persona">
                    <option value="">Todos</option>
                    {% for key, value in tipo_persona_choices %}
                        <option value="{{ key }}" {% if request.GET.tipo_persona == key %}selected{% endif %}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
                {# Desplegable para seleccionar el tipo de persona (e.g., Jurídica, Natural) #}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="nombres">Nombres / Razón Social</label>
                <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingrese los nombres" value="{{ request.GET.nombres }}">
                {# Campo de texto para ingresar los nombres del proveedor #}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="tipo_documento">Tipo de Documento</label>
                <select class="form-control" id="tipo_documento" name="tipo_documento">
                    <option value="">Todos</option>
                    {% for key, value in tipo_documento_choices %}
                        <option value="{{ key }}" {% if request.GET.tipo_documento == key %}selected{% endif %}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
                {# Desplegable para seleccionar el tipo de documento (e.g., DNI, RUC) #}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="numero_documento">Número de Documento</label>
                <input type="text" class="form-control" id="numero_documento" name="numero_documento" placeholder="Ingrese el número de documento" value="{{ request.GET.numero_documento }}">
                {# Campo de texto para ingresar el número de documento del proveedor #}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese el correo" value="{{ request.GET.correo }}">
                {# Campo de texto para ingresar el correo electrónico del proveedor #}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el teléfono" value="{{ request.GET.telefono }}">
                {# Campo de texto para ingresar el teléfono del proveedor #}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ingrese la ciudad" value="{{ request.GET.ciudad }}">
                {# Campo de texto para ingresar la ciudad del proveedor #}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la dirección" value="{{ request.GET.direccion }}">
                {# Campo de texto para ingresar la dirección del proveedor #}
            </div>
        </div>
    </div>
    
</form>
{% endblock %}

{% block columnas %}
{# Bloque para definir las columnas de la tabla #}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Tipo de Persona</th>
    <th scope="col">Nombres / Razón Social</th>
    <th scope="col">Tipo de Documento</th>
    <th scope="col">Número de Documento</th>
    <th scope="col">Correo</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Ciudad</th>
    <th scope="col">Dirección</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{# Bloque para definir las filas de la tabla #}
{% for p in object_list %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.get_tipo_persona_display }}</td>
    <td>{{ p.nombres }}</td>
    <td>{{ p.get_tipo_documento_display }}</td>
    <td>{{ p.numero_documento }}</td>
    <td>{{ p.correo }}</td>
    <td>{{ p.telefono }}</td>
    <td>{{ p.ciudad }}</td>
    <td>{{ p.direccion }}</td>
    <td>
        <a href="{% url 'app:proveedor_editar' p.id %}" class="btn btn-info btn-sm" title="Editar proveedor">
            <i class="fas fa-edit"></i>
        </a>
        {# Enlace para editar el proveedor #}
        <a href="#" class="btn btn-danger btn-sm delete-button" data-id="{{ p.id }}" title="Eliminar ">
            <i class="fas fa-trash"></i>
        </a>

        <!-- Scripts de accesibilidad y AdminLTE -->
        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
        <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
        
        <script>
            document.querySelectorAll('.delete-button').forEach(function(button) {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    let proveedorId = this.getAttribute('data-id');
                    let deleteUrl = "{% url 'app:proveedor_eliminar' 0 %}".replace('0', proveedorId);
                    
                    Swal.fire({
                        title: 'Confirmación',
                        text: '¿Estás seguro de que deseas eliminar este proveedor?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, Eliminar',
                        cancelButtonText: 'Cancelar',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Mostrar alerta de éxito
                            Swal.fire({
                                title: 'Eliminación Exitosa',
                                text: 'El proveedor ha sido eliminada correctamente.',
                                icon: 'success',
                                confirmButtonText: 'Continuar',
                                backdrop: true,
                                timer: 2000,
                                timerProgressBar: true,
                                position: 'center',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                stopKeydownPropagation: false,
                                buttonsStyling: true,
                                showCloseButton: true,
                                closeButtonAriaLabel: 'Cerrar alerta',
                            }).then(() => {
                                window.location.href = deleteUrl;
                            });
                        }
                    });
                });
            });
        </script> 
    </td>
</tr>
{% endfor %}
{% endblock %}