{% extends 'listar.html' %}
{% block columnas %}

<tr>
  <th scope="col">id</th>
  <th scope="col">nombre</th>
  <th scope="col">apellido</th>
  <th scope="col">correo</th>
  <th scope="col">telefono</th>
  <th scope="col">direccion</th>
  <th scope="col">Tipo_Documento</th>
  <th scope="col">cod_postal_id</th>
</tr>
{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
  <td> {{c.id}} </td>
  <td> {{c.nombre}} </td>
  <td>
    <button type="button" class="btn btn-primary bnt-xs"><i class="fas fa-edit"></i></button>
    <button type="button" class="btn btn-danger bnt-xs"><i class="fas fa-trash"></i></button>
  </td>
</tr>

{% endfor %}

{% endblock %}