{% extends "listar.html" %}

{% block columnas %}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Tipo de persona</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Razón social</th>
    <th scope="col">Tipo de documento</th>
    <th scope="col">Numero de documento</th>
    <th scope="col">Correo</th>
    <th scope="col">Telefono</th>
    <th scope="col">Ciudad</th>
    <th scope="col">Direccion</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for cl in object_list %}
<tr>
    <td>{{ cl.id }}</td>
    <td>{{ cl.tipo_persona }}</td>
    <td>{{ cl.nombres }}</td>
    <td>{{ cl.apellidos }}</td>
    <td>{{ cl.razon_social }}</td>
    <td>{{ cl.tipo_documento }}</td>
    <td>{{ cl.numero_documento }}</td>
    <td>{{ cl.correo }}</td>
    <td>{{ cl.telefono }}</td>
    <td>{{ cl.ciudad.get_ciudad_display }}</td>
    <td>{{ cl.direccion }}</td>
    <td>
        <a href="{% url 'app:cliente_editar' cl.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:cliente_eliminar' cl.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}