{% extends 'listar.html' %}
{% load static %}
{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:categoria_listar' %}">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ request.GET.nombre }}">
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ request.GET.descripcion }}">
    </div>
</form>
{% endblock %}

{% block columnas %}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for c in object_list %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.nombre }}</td>
    <td>{{ c.descripcion }}</td>
    <td>
        <a href="{% url 'app:categoria_editar' c.id %}" class="btn btn-info btn-sm"title="Editar categoría">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'app:categoria_eliminar' c.id %}" class="btn btn-danger btn-sm"title="Eliminar categoría">
            <i class="fas fa-trash"></i>
        </a>
        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?V1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?V1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
    </td>
</tr>
{% endfor %}
{% endblock %}