{% extends 'listar.html' %} 
{# Extiende la plantilla base 'listar.html' #}

{% load static %} 
{# Carga la biblioteca de archivos estáticos para incluir archivos como CSS o JS #}

{% block filtro_form_contenido %} 
{# Bloque para el formulario de filtrado #}
<form method="GET" action="{% url 'app:categoria_listar' %}">
    {# Formulario que envía datos por GET a la vista 'categoria_listar' #}
    
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ request.GET.nombre }}">
        {# Campo para filtrar por nombre #}
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ request.GET.descripcion }}">
        {# Campo para filtrar por descripción #}
    </div>
</form>
{% endblock %}

{% block columnas %} 
{# Bloque para los encabezados de la tabla #}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col">Opciones</th>
    {# Encabezados de las columnas #}
</tr>
{% endblock %}

{% block filas %} 
{# Bloque para las filas de la tabla #}
{% for c in object_list %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.nombre }}</td>
    <td>{{ c.descripcion }}</td>
    <td>
        <a href="{% url 'app:categoria_editar' c.id %}" class="btn btn-info btn-sm" title="Editar categoría">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'app:categoria_eliminar' c.id %}" class="btn btn-danger btn-sm" title="Eliminar cliente">
            <i class="fas fa-trash"></i>
        </a>
        <!-- <a href="{% url 'app:categoria_editar' c.id %}" class="btn btn-info btn-sm" title="Editar categoría">
            <i class="fas fa-edit"></i>
        </a> -->
        {# Enlace para editar la categoría #}
        {# Enlace para eliminar la categoría #}
        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        {# Script para accesibilidad #}
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?V1.1"></script>
        {# Script personalizado de accesibilidad #}
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?V1.1"></script>
        {# Script demo de AdminLTE #}
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
        {# Script principal de AdminLTE #}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.getElementById('delete-button').addEventListener('click', function(e) {
                e.preventDefault();
                
                // Validar campos
                let isValid = true;
                let formFields = document.querySelectorAll('#createForm .form-control');
                
                formFields.forEach(function(field) {
                    if (field.value.trim() === '') {
                        isValid = false;
                        field.classList.add('is-invalid');
                    } else {
                        field.classList.remove('is-invalid');
                    }
                });
        
                if (isValid) {
                    // Si todo es válido, muestra la alerta de confirmación de creación
                    Swal.fire({
                        title: 'Confirmación',
                        text: '¿Estás seguro de que deseas eliminar esta ?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, Eliminar',
                        cancelButtonText: 'Cancelar',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: 'Eliminado Correctamente',
                                text: 'Artículo Eliminada con éxitosamente.',
                                icon: 'success',
                                timer:2000,
                                timerProgressBar: true,
                                confirmButtonText: 'Continuar'
                            }).then(() => {
                                document.getElementById('createForm').submit();
                            });
                        }
                    });
                } else {
                    // Si hay errores en los campos, muestra alerta de error
                    Swal.fire({
                        title: 'Error',
                        text: 'Por favor, complete todos los campos correctamente.',
                        icon: 'error',
                        timer:2000,
                        timerProgressBar: true,
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        </script>
    </td>
</tr>
{% endfor %}
{% endblock %}
