body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.backup-container {
    width: 80%;
    max-width: 800px; /* Limita el ancho máximo para pantallas grandes */
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.backup-header {
    text-align: center;
    margin-bottom: 20px;
}

.backup-header h1 {
    color: #007bff;
}

.backup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.backup-section h2,
.restore-section h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre los elementos del formulario */
}

input[type="file"] {
    display: none; /* Oculta el input de archivo, ya que usamos un botón personalizado */
}

.backup-button,
.restore-button,
#select-file-button {
    display: inline-block;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backup-button {
    background-color: #28a745; /* Color para el botón de backup */
    color: white;
}

.backup-button:hover {
    background-color: #218838; /* Hover para el botón de backup */
}

.restore-button {
    background-color: #28a6bd; /* Color para el botón de restaurar */
    color: white;
}

.restore-button:hover {
    background-color: #0793ac; /* Hover para el botón de restaurar */
}

#select-file-button {
    background-color: #007bff; /* Color para el botón de seleccionar archivo */
    color: white;
}

#select-file-button:hover {
    background-color: #0056b3; /* Hover para el botón de seleccionar archivo */
}

#file-name {
    display: block;
    margin-top: 10px;
    color: #555;
    text-align: center;
}
