{% extends 'listar.html' %}
{% load static %}
{% block columnas %}

<tr>
    <td colspan="200">
        <div class="d-flex justify-content-start flex-wrap">
            <a href="{% url 'app:producto_listar' %}" 
               class="btn btn-primary btn-sm mx-1"
               style="background-color: #4a8193; border: 1px solid #4a8193; color: #fff; padding: 4px 10px; border-radius: 4px; cursor: pointer; text-decoration: none;"
               onmouseover="this.style.backgroundColor='#214d8c'; this.style.borderColor='#4a8193';"
               onmouseout="this.style.backgroundColor='#4a8193'; this.style.borderColor='#4a8193';">
                <i class="fas fa-box fa-xs"></i> Producto
            </a>
        </div>
    </td>
</tr>

<tr>
    <th scope="col">Id</th>
    <th scope="col">Numero de decreto</th>
    <th scope="col">Descripción</th>
    <th scope="col">Producto</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for no in object_list %}
<tr>
    <td>{{ no.id }}</td>
    <td>{{ no.decreto }}</td>
    <td>{{ no.descripcion }}</td>
    <td>{{ no.producto }}</td>
    <td>
        <a href="{% url 'app:normativa_editar' no.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:normativa_eliminar' no.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:normativa_listar' %}">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="Ingrese el ID">
    </div>
    <div class="form-group"
        <label for="decreto">Número de decreto</label>
        <input type="text" class="form-control" id="decreto" name="decreto" placeholder="Ingrese el número de decreto">
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese la descripción">
    </div>
    <div class="form-group">
        <label for="producto">Producto</label>
        <input type="text" class="form-control" id="producto" name="producto" placeholder="Ingrese el producto">
    </div>
  
</form>
{% endblock %}