{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Numero de decreto</th>
    <th scope="col">Descripción</th>
    <th scope="col">Producto</th>
    <th scope="col">Opciones</th>

</tr>
{% endblock %}

{% block filas %}
{% for no in object_list %}
<tr>
    <td>{{no.id}}</td>
    <td>{{no.decreto}}</td>
    <td>{{no.descripcion}}</td>
    <td>{{no.producto}}</td>
    <td>
        <a href="{% url 'app:normativa_editar' no.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:normativa_eliminar' no.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}