{% extends 'listar.html' %}
{# Extiende la plantilla base 'listar.html' #}

{% load static %}
{# Carga la etiqueta estática para usar archivos estáticos #}

{% block columnas %}
{# Bloque para definir las columnas de la tabla #}

<tr>
    <th scope="col">Id</th>
    <th scope="col">Tipo Usuario</th>
    <th scope="col">Nombre de Usuario</th>
    <th scope="col">Nombres</th>
    <th scope="col">Correo</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{# Bloque para definir las filas de la tabla #}
{% for user in object_list %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.get_tipo_usuario_display }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.nombres }}</td>
    <td>{{ user.email }}</td>
    <td>
        {% if user.is_active %}
            Habilitado
        {% else %}
            Inhabilitado
        {% endif %}
    </td>
    <td>
        <a href="{% url 'app:usuario_editar' user.id %}" class="btn btn-info btn-sm" title="Editar usuario">
            <i class="fas fa-edit"></i>
        </a>
        <a href="#" class="btn btn-danger btn-sm delete-button" data-id="{{ user.id }}" title="Eliminar usuario">
            <i class="fas fa-trash"></i>
        </a>

        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js' %}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
        <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
        
        <script>
            document.querySelectorAll('.delete-button').forEach(function(button) {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    let usuarioId = this.getAttribute('data-id');
                    let deleteUrl = "{% url 'app:usuario_eliminar' 0 %}".replace('0', usuarioId);
                    
                    Swal.fire({
                        title: 'Confirmación',
                        text: '¿Estás seguro de que deseas eliminar este usuario?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, Eliminar',
                        cancelButtonText: 'Cancelar',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Mostrar alerta de éxito
                            Swal.fire({
                                title: 'Eliminación Exitosa',
                                text: 'El usuario ha sido eliminado correctamente.',
                                icon: 'success',
                                confirmButtonText: 'Continuar',
                                backdrop: true,
                                timer: 2000,
                                timerProgressBar: true,
                                position: 'center',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                stopKeydownPropagation: false,
                                buttonsStyling: true,
                                showCloseButton: true,
                                closeButtonAriaLabel: 'Cerrar alerta',
                            }).then(() => {
                                window.location.href = deleteUrl;
                            });
                        }
                    });
                });
            });
        </script>
    </td>
</tr>
{% endfor %}
{% endblock %}