{% extends "listar.html" %}

{% load static %}
{% block columnas %}
{# Bloque para definir las columnas de la tabla #}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre Usuario</th>
    <th scope="col">Correo</th>
    <th scope="col">Nombre</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{# Bloque para definir las filas de la tabla #}
{% for user in object_list %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.first_name }}</td>
    <td>{% if user.is_active %}Activo{% else %}Inactivo{% endif %}</td>
    <td>
        <a href="{% url 'app:edit_profile' user.id %}" class="btn btn-info btn-sm" title="Editar usuario">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'app:delete_user' user.id %}" class="btn btn-danger btn-sm" title="Eliminar usuario">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>
{% endfor %}
{% endblock %}
