{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Encabezado del documento HTML -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra</title>
    <!-- Enlaces a hojas de estilo -->
    <link rel="stylesheet" href="{% static 'css/compras/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lib/jquery/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
</head>
<body>
    <!-- Contenedor principal de la Compra -->
    <div class="invoice-container">
        <!-- Encabezado de la Compra -->
        <header>
            <div class="invoice-info">
                <img src="{% static 'img/logo.jpg' %}" alt="Logo de la Empresa" class="logo">
                <div class="invoice-details">
                    <p><strong>Fecha Emisión:</strong> <input type="datetime-local" id="fecha_emision" name="fecha_emision"></p>
                    <p><strong>Número de Compra:</strong> <input type="text" id="num_compra" name="num_compra"></p>
                </div>
            </div>
        </header>

        <!-- Información del proveedor -->
        <section class="proveedor-info">
            <h2>Datos Proveedor</h2>
            <div class="proveedor-details">
                <p><strong>Número documento:</strong>
                    <select class="form-control col-md-6" id="proveedor_select" name="proveedor_id">
                        <option value="" hidden>Seleccione un proveedor</option>
                        {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id }}">{{ proveedor.numero_documento }} - {{ proveedor.nombres|default:proveedor.razon_social }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p><strong>Nombres/Razón Social:</strong> <input type="text" id="proveedor_nombre" name="proveedor_nombre" placeholder="Nombres/Razón Social" readonly></p>
                <p><strong>Dirección residencia:</strong> <input type="text" id="proveedor_direccion" name="proveedor_direccion" placeholder="Dirección" readonly></p>
                <p><strong>Correo:</strong> <input type="email" id="proveedor_mail" name="proveedor_mail" placeholder="Correo" readonly></p>
                <p><strong>Celular:</strong> <input type="text" id="proveedor_telefono" name="proveedor_telefono" placeholder="Celular" readonly></p>
            </div>
        </section>

        <section class="invoice-details">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Nombre del Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Impuestos (%)</th>
                        <th>Total</th>
                        <th class="acciones">Acciones</th>
                    </tr>
                </thead>
                <tbody id="invoice-items"></tbody>
            </table>
            <button type="button" id="add-item">Añadir Producto</button>
        </section>

        <!-- Totales de la compra -->
        <section class="invoice-totals">
            <h3>Totales</h3>
            <p><strong>Subtotal:</strong> <span id="subtotal">0.0</span> $ COP</p>
            <p><strong>Descuento:</strong> <input type="number" id="descuento" name="descuento" value="0" min="0" step="1"> %</p>
            <p><strong>Subtotal - Dto:</strong> <span id="subtotal_dto">0.0</span> $ COP</p>
            <p><strong>Total IVA:</strong> <span id="total_iva">0.0</span> $ COP</p>
            <p><strong>TOTAL:</strong> <span id="total">0.0</span> $ COP</p>
        </section>

        <!-- Botones en la parte inferior de la compra -->
        <div class="footer-buttons">
            <div class="left-buttons">
                <button type="button" id="print-invoice">Imprimir compra</button>
                <a href="{{ listar_url }}" id="cancel">Cancelar compra</a>
            </div>
            <div class="right-buttons">
                <form method="POST" action="{% url 'app:compras_crear' %}" id="compra-form">
                    {% csrf_token %}
                    <button type="submit" id="add-invoice">Guardar compra</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Scripts de la página -->
    <script src="{% static 'lib/jquery/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function() {
            const $proveedorSelect = $('#proveedor_select');
            const $proveedorNombre = $('#proveedor_nombre');
            const $proveedorDireccion = $('#proveedor_direccion');
            const $proveedorMail = $('#proveedor_mail');
            const $proveedorTelefono = $('#proveedor_telefono');
            const $invoiceItems = $('#invoice-items');
            const $subtotal = $('#subtotal');
            const $descuento = $('#descuento');
            const $subtotalDto = $('#subtotal_dto');
            const $totalIva = $('#total_iva');
            const $total = $('#total');

            // Función para obtener los detalles del proveedor
            function updateProveedorData(proveedorId) {
                $.ajax({
                    url: '{% url "app:obtener_datos_proveedor" %}',
                    data: { 'proveedor_id': proveedorId },
                    success: function(data) {
                        $proveedorNombre.val(data.nombre);
                        $proveedorDireccion.val(data.direccion);
                        $proveedorMail.val(data.correo);
                        $proveedorTelefono.val(data.telefono);
                    },
                    error: function() {
                        alert('Error al obtener los datos del proveedor.');
                    }
                });
            }

            // Función para actualizar los totales de la compra
            function updateTotals() {
                let subtotal = 0;
                let totalImpuestos = 0;
                const rows = $("#invoice-items tr");

                rows.each(function() {
                    const cantidad = parseFloat($(this).find(".cantidad").val()) || 0;
                    const precioUnitario = parseFloat($(this).find(".precio-unitario").val()) || 0;
                    const impuestos = parseFloat($(this).find(".impuestos").val()) / 100 || 0;
                    const totalSinImpuestos = cantidad * precioUnitario;
                    const totalConImpuestos = totalSinImpuestos * (1 + impuestos);
                    $(this).find(".total").text(totalConImpuestos.toFixed(2));
                    subtotal += totalSinImpuestos;
                    totalImpuestos += totalSinImpuestos * impuestos;
                });

                $subtotal.text(subtotal.toFixed(2));
                const descuento = parseFloat($descuento.val()) / 100 || 0;
                const subtotalDto = subtotal * (1 - descuento);
                $subtotalDto.text(subtotalDto.toFixed(2));
                $totalIva.text(totalImpuestos.toFixed(2));
                const total = subtotalDto + totalImpuestos;
                $total.text(total.toFixed(2));
            }

            // Función para actualizar los números de los ítems en la tabla
            function updateItemNumbers() {
                $invoiceItems.find('tr').each(function(index) {
                    $(this).find(".item-number").text(index + 1);
                });
            }

            // Función para añadir un nuevo ítem a la factura
            function addItem() {
                const newItemRow = `
                    <tr>
                        <td class="item-number"></td>
                        <td><input type="text" class="form-control nombre-producto" name="productos[][nombre]" placeholder="Nombre del producto"></td>
                        <td><input type="number" class="form-control cantidad" name="productos[][cantidad]" min="0" value="1"></td>
                        <td><input type="number" class="form-control precio-unitario" name="productos[][precio_unitario]" min="0" step="0.01"></td>
                        <td><input type="number" class="form-control impuestos" name="productos[][impuestos]" min="0" step="0.01" value="0"></td>
                        <td class="total">0.00</td>
                        <td class="acciones">
                            <button type="button" class="remove-item btn-remove">Eliminar</button>
                        </td>
                    </tr>
                `;
                $invoiceItems.append(newItemRow);
                updateItemNumbers();
                preventNegativeInputs(); // Añadir validación para nuevos campos
            }

            // Validación para prevenir números negativos
            function preventNegativeInputs() {
                $('.cantidad, .impuestos, #descuento').each(function() {
                    $(this).on('input', function() {
                        if ($(this).val() < 0) {
                            $(this).val(0); // Restablecer a 0 si el valor es negativo
                        }
                    });
                });
            }

            // Manejo del evento de cambio en la selección del proveedor
            $proveedorSelect.change(function() {
                const proveedorId = $(this).val();
                if (proveedorId) {
                    updateProveedorData(proveedorId);
                } else {
                    $proveedorNombre.val('');
                    $proveedorDireccion.val('');
                    $proveedorMail.val('');
                    $proveedorTelefono.val('');
                }
            });

            // Manejo del evento de cambio en los campos de productos
            $invoiceItems.on('input', '.nombre-producto, .cantidad, .precio-unitario, .impuestos', function() {
                updateTotals();
            });

            // Manejo del evento de clic en el botón "Añadir Producto"
            $('#add-item').click(function() {
                addItem();
            });

            // Manejo del evento de clic en el botón "Eliminar"
            $invoiceItems.on('click', '.remove-item', function() {
                const $row = $(this).closest('tr');
                $row.remove();
                updateItemNumbers();
                updateTotals();
            });

            // Manejo del evento de clic en el botón "Imprimir"
            $("#print-invoice").on("click", function() {
                window.print();
            });

            // Manejo del evento de clic en el botón "Guardar compra"
            $('#add-invoice').click(function(e) {
                e.preventDefault();
                
                // Validar que los campos no estén vacíos
                let isValid = true;
                let formFields = document.querySelectorAll('#compra-form input, #compra-form select');
                
                formFields.forEach(function(field) {
                    if (field.value.trim() === '' && field.hasAttribute('required')) {
                        isValid = false;
                        field.classList.add('is-invalid');
                    } else {
                        field.classList.remove('is-invalid');
                    }
                });

                if (isValid) {
                    // Si todos los campos están llenos, muestra la alerta de éxito
                    Swal.fire({
                        title: 'Compra Exitosa',
                        text: 'La compra ha sido registrada Correctamente.',
                        icon: 'success',
                        confirmButtonText: 'Continuar',
                        backdrop: true,
                        timer:2000,
                        timerProgressBar: true,
                        position: 'center',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        stopKeydownPropagation: false,
                        buttonsStyling: true,
                        showCloseButton: true,
                        closeButtonAriaLabel: 'Cerrar alerta',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById('compra-form').submit();
                        }
                    });
                } else {
                    // Si hay campos vacíos, muestra la alerta de error
                    Swal.fire({
                        title: 'Error',
                        text: 'Debe llenar todos los campos de registro',
                        icon: 'error',
                        confirmButtonText: 'Aceptar',
                        backdrop: true,
                        position: 'center',
                        allowOutsideClick: true,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        stopKeydownPropagation: false,
                        buttonsStyling: true,
                        showCloseButton: true,
                        closeButtonAriaLabel: 'Cerrar alerta',
                    });
                }
            });

            // Inicialización de los valores predeterminados
            document.addEventListener('DOMContentLoaded', (event) => {
                const fechaEmision = document.getElementById('fecha_emision');

                function getCurrentDateTime() {
                    const now = new Date();
                    const year = now.getFullYear();
                    const month = String(now.getMonth() + 1).padStart(2, '0');
                    const day = String(now.getDate()).padStart(2, '0');
                    const hours = String(now.getHours()).padStart(2, '0');
                    const minutes = String(now.getMinutes()).padStart(2, '0');

                    return `${year}-${month}-${day}T${hours}:${minutes}`;
                }

                fechaEmision.value = getCurrentDateTime();
            });

            preventNegativeInputs(); // Añadir validación al cargar la página
        });
    </script>    
</body>
</html>