{% extends 'listar.html' %}


{% load static %}


{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:compras_listar' %}">
    <div class="row">
        <!-- Filtro por Número de Factura -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="num_factura">Número de Factura</label>
                <input type="text" class="form-control" id="num_factura" name="num_factura"
                    placeholder="Ingrese el número de factura" value="{{ request.GET.num_factura }}">
            </div>
        </div>

        <!-- Filtro por Fecha de Compra -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="fecha_compra">Fecha de Compra</label>
                <input type="date" class="form-control" id="fecha_compra" name="fecha_compra"
                    value="{{ request.GET.fecha_compra }}">
            </div>
        </div>

        <!-- Filtro por Proveedor -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="proveedor">Proveedor</label>
                <select class="form-control" id="proveedor" name="proveedor">
                    <option value="">Seleccione un proveedor</option>
                    {% for proveedor in proveedores %}
                        <option value="{{ proveedor.id }}" 
                            {% if proveedor.id|stringformat:"s" == request.GET.proveedor %}selected{% endif %}>
                            {{ proveedor.nombres }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block columnas %}
{# Bloque para los encabezados de la tabla #}
<tr>
    <th scope="col">Número de Factura</th>
    <th scope="col">Fecha de Compra</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{# Bloque para las filas de la tabla #}
{% for com in object_list %}
<tr>
    <td>{{ com.num_factura }}</td>
    <td>{{ com.fecha_compra }}</td>
    <td>{{ com.proveedor }}</td>
    <td>
        <a href="{% url 'app:compras_editar' com.num_factura %}" class="btn btn-info btn-sm" title="Editar compra">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'app:compras_detalle' num_factura=com.num_factura %}" class="btn btn-sm" style="background-color: #23853a; color: white;" title="Detalle">
            <i class="fas fa-plus"></i>
        </a>
        </a>
        {% if request.user.is_superuser or request.user.is_staff %}
        <a href="#" class="btn btn-danger btn-sm delete-button" data-id="{{ com.num_factura }}" title="Eliminar Compra">
            <i class="fas fa-trash"></i>
        </a>
        {% else %}
        <span class="btn btn-danger btn-sm disabled" title="Eliminar Compra">
            <i class="fas fa-trash"></i>
        </span>
        {% endif %}

        <!-- Scripts de accesibilidad y AdminLTE -->
        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
        <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>

        <script>
            document.querySelectorAll('.delete-button').forEach(function (button) {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    let compraD = this.getAttribute('data-id');
                    let deleteUrl = "{% url 'app:compras_eliminar' 0 %}".replace('0', compraD);

                    Swal.fire({
                        title: 'Confirmación',
                        text: '¿Estás seguro de que deseas eliminar esta compra?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, Eliminar',
                        cancelButtonText: 'Cancelar',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = deleteUrl;
                        }
                    });
                });
            });
        </script>
    </td>
</tr>
{% endfor %}
{% endblock %}