{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="stylesheet" href="{% static 'lib/venta/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lib/jquery/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
</head>

<body>
    <div class="invoice-container">
        <header>
            <div class="invoice-info">
                <img src="{% static 'img/logo.jpg' %}" alt="Logo de la Empresa" class="logo">
                <h2>Datos Factura</h2>
                <div class="invoice-details">
                    <p><strong>Fecha Emisión:</strong> <input type="date" id="fecha_emision"></p>
                    <p><strong>Fecha Vencimiento:</strong> <input type="date" id="fecha_vencimiento"></p>
                    <p><strong>Número de Factura:</strong> <input type="text" id="num_factura"></p>
                </div>
            </div>
            <p></p>
            <div class="company-info">
                <div class="company-details">
                    <h2>Empresa (Emisor)</h2>
                    <p><strong>Nombre:</strong> Conaldex-Boyaca</p>
                    <p><strong>NIT:</strong> 91068006-8</p>
                    <p><strong>Dirección:</strong> Calle 7 # 14-65</p>
                    <p><strong>Correo:</strong> conaldexboyaca@gmail.com</p>
                    <p><strong>Celular:</strong> +57 3124352596</p>
                </div>
            </div>
        </header>
        <section class="client-info">
            <div class="client-data">
                <h2>Cliente (Remitente)</h2>
                <div class="client-details">
                    <p><strong>Número documento:</strong> <input type="text" id="cliente_cif"></p>
                    <p><strong>Nombres:</strong> <input type="text" id="cliente_nombre"></p>
                    <p><strong>Dirección residencia:</strong> <input type="text" id="cliente_direccion"></p>
                    <p><strong>Correo:</strong> <input type="email" id="cliente_mail"></p>
                    <p><strong>Celular:</strong> <input type="text" id="cliente_telefono"></p>
                </div>
            </div>
        </section>

        <section class="invoice-details">
            <table>
                <thead>
                    <tr>
                        <th>Item</th> <!-- Nueva columna para el número de ítem -->
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="invoice-items">
                </tbody>
            </table>
            <button type="button" id="add-item">Añadir Producto</button>
        </section>

        <section class="invoice-totals">
            <div class="totals">
                <h3>Totales</h3>
                <p><strong>Subtotal:</strong> <span id="subtotal">0,00</span> €</p>
                <p><strong>Descuento:</strong> <input type="number" id="descuento" value="0"> €</p>
                <p><strong>Subtotal - Dto:</strong> <span id="subtotal_dto">0,00</span> €</p>
                <p><strong>IVA:</strong> <input type="number" id="iva" value="21"> %</p>
                <p><strong>Total IVA:</strong> <span id="total_iva">0,00</span> €</p>
                <p><strong>TOTAL:</strong> <span id="total">0,00</span> €</p>
            </div>
        </section>

        <div class="footer-buttons">
            <button type="button" id="print-invoice">Imprimir factura</button>
            <a href="{{ listar_url }}" id="cancel">Cancelar factura</a>

        </div>
    </div>

    <script src="{% static 'lib/jquery/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/venta/script.js' %}"></script>
</body>
</html>