{% extends 'listar.html' %}
{% load widget_tweaks %}

{% block contenido %}

<form method="post" action="." id="createForm">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                </button>
                <h5>
                    <i class="icon fas fa-ban"></i> 
                    {% if form.instance.pk %}
                        Ha ocurrido un error al intentar {{ titulo }}.
                    {% else %}
                        Ha ocurrido un error al intentar crear {{ titulo }}.
                    {% endif %}
                </h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_num_factura">{{ form.num_factura.label }}</label>
                {{ form.num_factura|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
            <div class="form-group">
                <label for="id_fecha_emision">{{ form.fecha_emision.label }}</label>
                {{ form.fecha_emision|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
            <div class="form-group">
                <label for="id_cliente">{{ form.cliente.label }}</label>
                {{ form.cliente|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
            <div class="form-group">
                <label for="id_total">{{ form.total.label }}</label>
                {{ form.total|add_class:'form-control'|attr:'autocomplete:off' }}
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-success" id="confirmButton">
                <i class="fas fa-save"></i> Confirmar
            </button>
            <a href="{{ listar_url }}" class="btn btn-info btn-flat" style="background-color: #b82b2b; color: white;">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
document.getElementById('confirmButton').addEventListener('click', function(e) {
    e.preventDefault(); 
    
    // Validar que cada campo no esté vacío y mostrar alerta específica
    let formFields = document.querySelectorAll('#createForm .form-control');
    let isValid = true;

    for (let field of formFields) {
        if (field.value.trim() === '') {
            isValid = false;
            Swal.fire({
                title: 'Campo Obligatorio',
                text: `El campo ${field.previousElementSibling.innerText} es obligatorio.`,
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                backdrop: true,
                position: 'center',
                allowOutsideClick: true,
                allowEscapeKey: false,
                allowEnterKey: false,
            });
            field.focus();  // Enfocar en el campo vacío
            break;  // Detener el bucle en el primer campo vacío
        } else {
            field.classList.remove('is-invalid');
        }
    }

    if (isValid) {
        // Mostrar alerta de éxito y luego enviar el formulario
        Swal.fire({
            title: 'Registrado Correctamente',
            text: 'La venta ha sido registrada exitosamente.',
            icon: 'success',
            confirmButtonText: 'Continuar',
            backdrop: true,
            timer: 3000,
            timerProgressBar: true,
            position: 'center',
            allowOutsideClick: false,
        }).then(() => {
            document.getElementById('createForm').submit();
        });
    }
});
</script>

{% endblock %}
