{% extends 'listar.html' %}

{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:venta_listar' %}">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="num_factura">Número de Factura</label>
                <input type="text" class="form-control" id="num_factura" name="num_factura" placeholder="Ingrese el número de factura" value="{{ request.GET.num_factura }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fecha_emision">Fecha de Emisión</label>
                <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" value="{{ request.GET.fecha_emision }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Ingrese el nombre del cliente" value="{{ request.GET.cliente }}">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="persona">Vendedor</label>
                <input type="text" class="form-control" id="persona" name="persona" placeholder="Ingrese el nombre del vendedor" value="{{ request.GET.persona }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="total">Total de la Factura</label>
                <input type="number" step="0.01" class="form-control" id="total" name="total" placeholder="Ingrese el total de la factura" value="{{ request.GET.total }}">
            </div>
        </div>
    </div>

</form>
{% endblock %}
{% block columnas %}
<tr>
    <th scope="col">Id Venta</th>
    <th scope="col">Fecha factura</th>
    <th scope="col">Cliente</th>
    <th scope="col">Vendedor</th>
    <th scope="col">Total factura</th>
    <th scope="col">Opciones</th>

</tr>
{% endblock %}

{% block filas %}
{% for v in object_list %}
<tr>
    <td>{{v.num_factura}}</td>
    <td>{{v.fecha_emision}}</td>
    <td>{{v.cliente.nombre}}</td>
    <td>{{v.persona.nombre}}</td>
    <td>{{v.total}}</td>
    <td>
        <a href="{% url 'app:venta_editar' v.num_factura %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:venta_eliminar' v.num_factura %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}