{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">Id Venta</th>
    <th scope="col">Fecha factura</th>
    <th scope="col">Cliente</th>
    <th scope="col">Vendedor</th>
    <th scope="col">Total factura</th>
    <th scope="col">Opciones</th>

</tr>
{% endblock %}

{% block filas %}
{% for v in object_list %}
<tr>
    <td>{{v.num_factura}}</td>
    <td>{{v.fecha_emision}}</td>
    <td>{{v.cliente.nombre}}</td>
    <td>{{v.persona.nombre}}</td>
    <td>{{v.total}}</td>
    <td>
        <a href="{% url 'app:venta_editar' v.num_factura %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:venta_eliminar' v.num_factura %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}