{% extends 'listar.html' %}
{% load static %}

{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:venta_listar' %}">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="num_factura">Número de Factura</label>
                <input type="text" class="form-control" id="num_factura" name="num_factura" placeholder="Ingrese el número de factura" value="{{ num_factura }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fecha_emision">Fecha de Emisión</label>
                <!-- Cambiamos el tipo de input a 'date' -->
                <input type="date" class="form-control" id="fecha_emision" name="fecha_emision" value="{{ fecha_emision }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Ingrese el nombre del cliente" value="{{ cliente }}">
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block columnas %}
<tr>
    <th scope="col">ID</th>
    <th scope="col">Número de Factura</th>
    <th scope="col">Fecha de Emisión</th>
    <th scope="col">Cliente</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for v in object_list %}
<tr>
    <td>{{ v.id }}</td>
    <td>{{ v.num_factura }}</td>
    <td>{{ v.fecha_emision }}</td>
    <td>{{ v.cliente.nombres }}</td>
    <td>
        <a href="{% url 'app:venta_editar' v.pk %}" class="btn btn-info btn-sm" title="Editar venta">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'app:detalle_venta' venta_id=v.id %}" class="btn btn-sm" style="background-color: #23853a; color: white;" title="Detalles">
            <i class="fas fa-plus"></i>
        </a>
    </td>
</tr>
{% endfor %}
{% endblock %}