{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">Rol</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Tipo de documento</th>
    <th scope="col">Numero de documento</th>
    <th scope="col">Correo</th>
    <th scope="col">Telefono</th>
    <th scope="col">Nombre de usuario</th>
    <th scope="col">Password</th>
    <th scope="col">Opciones</th>

</tr>
{% endblock %}

{% block filas %}
{% for per in object_list %}
<tr>
    <td>{{per.rol}}</td>
    <td>{{per.nombres}}</td>
    <td>{{per.apellidos}}</td>
    <td>{{per.tipo_documento}}</td>
    <td>{{per.numero_documento}}</td>
    <td>{{per.correo}}</td>
    <td>{{per.telefono}}</td>
    <td>{{per.usuario}}</td>
    <td>{{per.password}}</td>

    <td>
        <a href="{% url 'app:persona_editar' per.id %}" class="btn btn-info btn-sm" title="Editar"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:persona_eliminar' per.id %}" class="btn btn-danger btn-sm" title="Eliminar"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}