{% extends 'listar.html' %}

{% load static %}
{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:persona_listar' %}">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="rol">Rol de usuario</label>
            <select class="form-control" id="rol" name="rol">
                <option value="">Todos</option>
                {% for key, value in roles %}
                    <option value="{{ key }}" {% if request.GET.rol == key %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="nombres">Nombres</label>
            <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingrese los nombres" value="{{ request.GET.nombres }}">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tipo_documento">Tipo de Documento</label>
            <select class="form-control" id="tipo_documento" name="tipo_documento">
                <option value="">Todos</option>
                {% for key, value in tipo_documento %}
                    <option value="{{ key }}" {% if request.GET.tipo_documento == key %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese el correo" value="{{ request.GET.correo }}">
        </div>
        <div class="form-group col-md-6">
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el teléfono" value="{{ request.GET.telefono }}">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label for="numero_documento">Número de Documento</label>
            <input type="text" class="form-control" id="numero_documento" name="numero_documento" placeholder="Ingrese el número de documento" value="{{ request.GET.numero_documento }}">
        </div>
        <div class="form-group col-md-6">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese el usuario" value="{{ request.GET.usuario }}">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label for="password">Contraseña</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Ingrese la contraseña" value="{{ request.GET.password }}">
        </div>
    </div>
</form>
{% endblock %}
{% block columnas %}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Rol de usuario</th>
    <th scope="col">Usuario</th>
    <th scope="col">Nombres</th>
    <th scope="col">Tipo de Documento</th>
    <th scope="col">Numero Documento</th>
    <th scope="col">Correo</th>
    <th scope="col">Celular</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for per in object_list %}
<tr>
    <td>{{ per.id }}</td>
    <td>{{ per.get_rol_display }}</td>
    <td>{{ per.nombres }}</td>
    <td>{{ per.tipo_documento }}</td>
    <td>{{ per.correo }}</td>
    <td>{{ per.telefono }}</td>
    <td>{{ per.numero_documento }}</td>
    <td>{{ per.usuario }}</td>
    <td>
        <a href="{% url 'app:persona_editar' per.id %}" class="btn btn-info btn-sm" title="Editar persona"><i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'app:persona_eliminar' per.id %}" class="btn btn-danger btn-sm" title="Eliminar persona"><i class="fas fa-trash"></i>
        </a>
        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?V1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?V1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
        
    </td>
</tr>
{% endfor %}
{% endblock %}