{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Categoría</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Cédula</th>
    <th scope="col">Fecha de registro</th>
    <th scope="col">Fecha de creación</th>
    <th scope="col">Edad</th>
    <th scope="col">Salario</th>
    <th scope="col">Estado</th>
    <th scope="col">Tipo de empleado</th>
    <th scope="col">Opciones</th>

</tr>
{% endblock %}

{% block filas %}
{% for E in object_list %}
<tr>
    <td>{{E.id}}</td>
    <td>{{E.categ}}</td>
    <td>{{E.apellido}}</td>
    <td>{{E.cedula}}</td>
    <td>{{E.fecha_registro}}</td>
    <td>{{E.fecha_creacion}}</td>
    <td>{{E.salario}}</td>
    <td>{{E.estado}}</td>
    <td>{{E.Tipo}}</td>
    <td>
        <a href="{% url 'app:persona_editar' E.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:persona_eliminar' E.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}

{% endblock %}