{% extends "layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/respaldo/backup.css' %}">
    <title>Backup de Base de Datos</title>
    <link rel="stylesheet" href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}">
{% endblock %}

{% block contenido %}
<div class="backup-container">
    <div class="backup-header">
        <h1>Copia de Seguridad de la Base de Datos</h1>
    </div>
    <div class="backup-form">
        <div class="form-section backup-section">
            <h2>Crear copia de seguridad</h2>
            <form id="backup-form" method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <button type="submit" class="backup-button">Crear</button>
            </form>
        </div>
        <div class="form-section restore-section">
            <h2>Restaurar copia de seguridad</h2>
            <form id="restore-form" method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <input type="file" id="backup-file-input" name="backup_file" style="display:none;" required>
                <button type="button" id="select-file-button">Seleccionar archivo</button>
                <span id="file-name">Sin archivos seleccionados</span>
                <button type="submit" class="restore-button" id="restore-button">Restaurar</button>
            </form>
        </div>
    </div>
</div>

<script>
    const backupUrl = "{% url 'app:respaldo' %}";
    const restoreUrl = "{% url 'app:restauracion' %}";
</script>
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/respaldo/backup.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const restoreButton = document.getElementById('restore-button');
        const restoreForm = document.getElementById('restore-form');

        restoreForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío del formulario para demostrar el retraso
            restoreButton.disabled = true; // Deshabilitar el botón

            setTimeout(function() {
                restoreButton.disabled = false; // Habilitar el botón después de 3 segundos
                restoreForm.submit(); // Enviar el formulario después del retraso
            }, 2000); // 3000 milisegundos = 3 segundos
        });
    });
</script>
{% endblock %}