{% extends "layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/respaldo/backup.css' %}">
    <title>Backup de Base de Datos</title>
    <link rel="stylesheet" href="{% static 'css/respaldo/sweetalert2.min.css' %}">
{% endblock %}

{% block contenido %}
    <div class="backup-container">
        <div class="backup-header">
            <h1>Copia de Seguridad de la Base de Datos</h1>
        </div>
        <div class="backup-form">
            <form id="backup-form" method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <button type="submit" class="backup-button">Realizar Backup</button>
            </form>
            <form id="restore-form" method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <input type="file" id="backup-file-input" name="backup_file" style="display:none;" required>
                <button type="button" id="select-file-button">Seleccionar archivo</button>
                <span id="file-name">Sin archivos seleccionados</span>
                <button type="submit" class="restore-button">Restaurar Backup</button>
            </form>
        </div>
    </div>

    <script>
        const backupUrl = "{% url 'app:respaldo' %}";
        const restoreUrl = "{% url 'app:restauracion' %}";
    </script>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/respaldo/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/respaldo/backup.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // No se mostrarán alertas automáticamente al cargar la página
    });
</script>
{% endblock %}