Main Footer
<footer class="main-footer">
    <strong>Todos los derechos reservados.</strong> <span>Copyright &copy; 2014-2024 <a href="https://adminlte.io" target="_blank" rel="noopener noreferrer">Adso Grupo 4</a>.</span>
</footer>

<style>
    .main-footer {
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        color: #333333; /* Texto gris oscuro */
        border-top: 1px solid #cccccc; /* Línea superior gris claro */
    }

    .main-footer a {
        color: #007bff; /* Color azul para los enlaces */
        text-decoration: none;
    }

    .main-footer a:hover {
        color: #0056b3; /* Azul más oscuro en el hover */
        text-decoration: underline;
    }
</style>
