{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="#" class="navbar-brand">
            <!-- <img src="{% static 'img/logo1.png' %}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
            <span class="brand-text font-weight-light">PosVentas</span> -->
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Módulos</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="{% url 'app:categoria_listar' %}" class="dropdown-item">
                                <i class="fas fa-layer-group" style="margin-right: 8px;"></i> Categoría</a></li>
                            <li><a href="{% url 'app:cliente_listarC' %}" class="dropdown-item">
                                <i class="fas fa-user-tie" style="margin-right: 8px;"></i> Clientes</a></li>
                            <li><a href="{% url 'app:persona_listar' %}" class="dropdown-item">
                                <i class="fas fa-users" style="margin-right: 8px;"></i> Persona</a></li>
                            <li><a href="{% url 'app:normativa_listar' %}" class="dropdown-item">
                                <i class="fas fa-balance-scale" style="margin-right: 8px;"></i> Normativas</a></li>
                            <li><a href="{% url 'app:producto_listar' %}" class="dropdown-item">
                                <i class="fas fa-hard-hat" style="margin-right: 8px;"></i> Productos</a></li>
                            <li><a href="{% url 'app:proveedor_listarP' %}" class="dropdown-item">
                                <i class="fas fa-truck" style="margin-right: 8px;"></i> Proveedor</a></li>
                            <li><a href="{% url 'app:tipo_listar' %}" class="dropdown-item">
                                <i class="fas fa-tags" style="margin-right: 8px;"></i> Tipo</a></li>
                            <li><a href="{% url 'app:ubicacion_listarU' %}" class="dropdown-item">
                                <i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i> Ubicación</a></li>
                            <li><a href="{% url 'app:venta_listar' %}" class="dropdown-item">
                                <i class="fas fa-shopping-cart" style="margin-right: 8px;"></i> Ventas</a></li>
                        </ul>
                </li>
            </ul>
        </div>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <a class="nav-link" href="{% url 'logout' %}" title='cerrar sesión'>
                <i class="fas fa-power-off" aria-hidden="True"></i>
            </a>
        </ul>
    </div>
</nav>

<!-- Enlace CSS de sienna-accessibility -->
<link rel="stylesheet" href="{% static 'node_modules/sienna-accessibility/custom.css' %}?v1.1" />

{% block javascript %}
<script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
<script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?V1.1"></script>
<script src="{% static 'lib/adminlte-3.2.0/js/demo.js' %}?V1.1"></script>
<script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
{% endblock %}
