{% load static %}

{% block head %}
<!-- Incluyendo Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
    body {
        background-color: #ffffff; /* Fondo blanco para toda la página */
    }
    .welcome-section {
        padding: 30px 0; /* Espaciado superior e inferior */
        text-align: center; /* Alineación centrada */
    }
    .welcome-title {
        font-size: 2rem; /* Tamaño del título */
        margin-bottom: 10px; /* Espacio inferior */
        font-weight: bold; /* Negrita */
        background: linear-gradient(90deg, #007bff, #00bfff); /* Degradado azul */
        -webkit-background-clip: text; /* Clip del fondo para texto */
        -webkit-text-fill-color: transparent; /* Relleno del texto transparente */
    }
    .welcome-message {
        font-size: 1rem; /* Tamaño de fuente */
        color: #555; /* Color gris oscuro */
        line-height: 1.5; /* Mejora la legibilidad */
        margin-bottom: 15px; /* Espacio inferior */
    }
    .welcome-image {
        width: 70%; /* Imagen ocupa el 70% del ancho */
        max-width: 300px; /* Ancho máximo ajustado */
        border-radius: 20px; /* Bordes más redondeados */
        margin-top: 15px; /* Espacio superior */
    }
</style>
{% endblock %}

{% block contenido %}
<script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?V1.1"></script>
<script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?V1.1"></script>

<div class="welcome-section">
    <h2 class="welcome-title">¡Bienvenido a Conaldex Boyacá!</h2>
    <p class="welcome-message">
        Acceso exclusivo para empleados y administradores para gestionar sus funciones en la plataforma.
    </p>
    <img src="{% static 'img/epp.jpg' %}" alt="Inventario Conaldex" class="welcome-image">
</div>
{% endblock %}
