{% extends "layout.html" %}

{% load static %}

{% block head %}
<!-- Urls de los archivos CSS -->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/dataTables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />

<style>
    .custom-button {
        background-color: #1f5a96;  /* Color de fondo azul */
        border: 2px solid hwb(0 100% 0%);  /* Borde azul */
        color: #fff;                /* Texto blanco */
        margin: 0;                  /* Elimina el margen entre botones */
        padding: 4px 10px;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;      /* Asegura que los botones estén en línea */
    }
    
    .custom-button:hover {
        background-color: #1d3c5d; /* Color de fondo más oscuro al pasar el mouse */
        border: 2px solid #09335f; /* Asegúrate de especificar el ancho del borde */
    }
</style>
{% endblock %}

{% block contenido %}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-address-book" style="margin-right: 5px;"></i>
            {{ titulo }}
        </h3>
    </div>
    <div class="card-body">
        <table id="tabla" class="table table-bordered table-striped">
            <thead>
                {% block columnas %}
                {% endblock %}
            </thead>
            <tbody>
                {% block filas %}
                {% endblock %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="{{ crear_url }}" class="btn btn-flat" style="background-color: #23853a; border: 1px solid #23853a; color: #fff; margin: 5px; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
            <i class="fas fa-plus"></i> Agregar
        </a>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- Urls de los archivos Js -->
<script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#tabla").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "language": {
                "url": "{% static 'lib/adminlte-3.2.0/datatables/Spanish.json' %}"
            },
            "buttons": [
                {
                    extend: 'copy',
                    text: 'Copiar tabla',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)' // Excluir la última columna
                    }
                },
                {
                    extend: 'csv',
                    text: 'Archivo CSV',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)' // Excluir la última columna
                    }
                },
                {
                    extend: 'excel',
                    text: 'Archivo Excel',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)' // Excluir la última columna
                    }
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)' // Excluir la última columna
                    }
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    className: 'custom-button',
                    exportOptions: {
                        columns: ':not(:last-child)' // Excluir la última columna
                    }
                }
            ],
            "dom": 'Bfrtip' // Esto asegura que los botones sean visibles
        }).buttons().container().appendTo('#tabla_wrapper .col-md-6:eq(0)');
    });
</script>
{% endblock %}