{% load static %}
<!-- Carga los archivos estáticos en la plantilla. -->

<aside class="main-sidebar sidebar-light-primary elevation-4" style="background: linear-gradient(135deg, #003366, #3399FF);">
    <!-- Panel lateral principal con un fondo degradado. -->
    
    <!-- Logo de la marca -->
    <a href="#" class="brand-link d-flex align-items-center" style="height: 120px; padding-left: 0; justify-content: flex-start;">
        <img src="{% static 'img/logoConaldex.jfif' %}" alt="Conaldex Logo" class="brand-image img-circle elevation-3" style="opacity: .9; border-radius: 50%; height: 120px; width: 120px; margin-right: 10px;">
        <!-- Logo de la empresa Conaldex con formato circular. -->
        
        <span class="brand-text font-weight-bold" style="color: #fff; font-size: 1.3rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: normal;">Conaldex Boyacá</span>
        <!-- Texto de la marca con estilo personalizado. -->
    </a>

    <!-- Panel lateral -->
    <div class="sidebar">
        <!-- Menú lateral -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Encabezado de la sección -->
                <li class="nav-header" style="color: #fff; padding: 10px 15px; font-size: 1rem; font-weight: bold;">Módulos</li>
                
                <!-- Menú desplegable para Gestión de Inventario -->
                <li class="nav-item has-treeview {% if 'categoria' in request.path or 'tipo' in request.path or 'producto' in request.path or 'stock' in request.path or 'normativa' in request.path %} menu-open {% endif %}">
                    <a href="#" class="nav-link" style="display: flex; align-items: center;">
                        <i class="nav-icon fas fa-boxes" style="color: #eee600; margin-right: 15px;"></i>
                        <p style="color: #fff; font-size: 15px; margin-right: auto;"><b>Gestión de Inventario</b></p>
                        <!-- Flecha indicadora que rota al abrir/cerrar el menú -->
                        <i class="fas fa-angle-right arrow {% if 'menu-open' in request.path %} rotate-arrow {% endif %}" style="color: #fff;"></i>
                    </a>
                    <ul class="nav nav-treeview" style="padding-left: 20px;">
                        <li class="nav-item">
                            <a href="{% url 'app:categoria_listar' %}" class="nav-link {% if 'categoria' in request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-layer-group" style="color: #fff; margin-right: 10px;"></i>
                                <p style="color: #fff; font-size: 16px;">Categoría</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:tipo_listar' %}" class="nav-link {% if 'tipo' in request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-clipboard-list" style="color: #e1ffed; margin-right: 10px;"></i>
                                <p style="color: #fff; font-size: 16px;">Tipo Producto</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:producto_listar' %}" class="nav-link {% if 'producto' in request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-fire-extinguisher" style="color: #eee600; margin-right: 10px;"></i>
                                <p style="color: #fff; font-size: 16px;">Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:listar_stock' %}" class="nav-link {% if 'stock' in request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-cubes" style="color: #e2bf5e; margin-right: 10px;"></i>
                                <p style="color: #fff; font-size: 16px;">Stock</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:normativa_listar' %}" class="nav-link {% if 'normativa' in request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-balance-scale" style="color: #b6e8e2; margin-right: 10px;"></i>
                                <p style="color: #fff; font-size: 16px;">Normativas</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <style>
                    /* Estilo para la flecha cuando el menú está abierto */
                    .menu-open .arrow {
                        transform: rotate(90deg); /* Gira la flecha 90 grados */
                        transition: transform 0.0.1s ease-in-out; /* Transición suave */
                    }
                
                    /* Transición suave para la flecha en general */
                    .arrow {
                        transition: transform 0.3s ease-in-out;
                    }
                </style>
                
                <li class="nav-item">
                    <a href="{% url 'app:ubicacion_listar' %}" class="nav-link {% if 'ubicacion' in request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-map-marker-alt" style="color: #e1ffed;"></i>
                        <p style="color: #fff;">Ubicación</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:cliente_listar' %}" class="nav-link {% if 'cliente' in request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-user-tie" style="color: #fef3ef;"></i>
                        <p style="color: #fff;">Clientes</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:proveedor_listar' %}" class="nav-link {% if 'proveedor' in request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-truck" style="color: #e9ffff;"></i>
                        <p style="color: #fff;">Proveedor</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:compras_listar' %}" class="nav-link {% if 'compras' in request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-credit-card" style="color: hsl(58, 83%, 49%);"></i>
                        <p style="color: #fff;">Compras</p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{% url 'app:venta_listar' %}" class="nav-link {% if 'venta' in request.path %} active {% endif %}">
                        <i class="nav-icon fa fa-handshake" style="color: #fbdbb6;"></i>
                        <p style="color: #ffffff;">Ventas</p>
                    </a>
                </li>
                
                <li class="nav-item" style="display: none;">
                    <a href="{% url 'app:detalleventa_listar' %}" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart" style="color: #fbdbb6;"></i>
                        <p style="color: #fff; margin-left: 10px;"><b>Detalle de Venta</b></p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

<!-- Estilo CSS para cambiar el color de selección -->
<style>
    .nav-sidebar .nav-link.active {
        background-color: #37648f !important; /* Cambia el color de fondo al seleccionar */
        color: #ac9999 !important; /* Cambia el color del texto al seleccionar */
    }
</style>