{% extends 'body.html' %}
{% load widget_tweaks %}

{% block contenido %}

<form method="post" action=".">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% if form.errors %}
            {% endif %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }} </label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off'}}
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button class="btn btn-success swalDefaultSuccess">
                <i class="fas fa-save"></i>
                Confirmar
            </button>
            <a href="{% url 'app:ubicacion_listarU' %}" class="btn btn-info btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        // Iniciar select2 para los selects
        $('#id_departamento').select2({
            placeholder: 'Selecciona un departamento',
            allowClear: true,
            language: {
                noResults: function() {
                    return "No se encontraron resultados";
                }
            }
        });
        
        $('#id_municipio').select2({
            placeholder: 'Selecciona un municipio',
            allowClear: true,
            language: {
                noResults: function() {
                    return "No se encontraron resultados";
                }
            }
        });

        // Cargar los municipios dinámicamente cuando se seleccione un departamento
        $('#id_departamento').on('change', function() {
            var departamentoId = $(this).val();
            var url = "{% url 'app:municipios_por_departamento' %}";

            $.ajax({
                url: url,
                data: {
                    'departamento_id': departamentoId
                },
                success: function(data) {
                    console.log("Datos recibidos:", data);
                    var $municipioSelect = $('#id_municipio');
                    $municipioSelect.empty().append('<option value="">Selecciona un municipio</option>');
                    
                    $.each(data.municipios, function(index, municipio) {
                        $municipioSelect.append('<option value="' + municipio.id + '">' + municipio.nombre + '</option>');
                    });

                    $municipioSelect.trigger('change');
                },
                error: function(xhr, status, error) {
                    console.log("Error en la solicitud AJAX:", status, error);
                }
            });
        });
    });
</script>

{% if form.errors %}
<script>
    var errorMessage = '{{ form.non_field_errors|first }}';
    Swal.fire({
        title: 'Error',
        text: errorMessage,
        icon: 'error',
        confirmButtonText: 'Aceptar'
    });
</script>
{% endif %}

{% endblock %}