{% extends "listar.html" %}
{% load static %}
{% block filtro_form_contenido %}
<form method="GET" action="{% url 'app:ubicacion_listarU' %}">
    <div class="form-group">
        <label for="departamento">Departamento</label>
        <select class="form-control" id="departamento" name="departamento">
            <option value="">Todos</option>
            {% for key, value in departamentos %}
                <option value="{{ key }}" {% if request.GET.departamento == key %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <select class="form-control" id="ciudad" name="ciudad">
            <option value="">Todos</option>
            {% for key, value in ciudades %}
                <option value="{{ key }}" {% if request.GET.ciudad == key %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    </div>

</form>
{% endblock %}

{% block columnas %}
<tr>
  <th scope="col">Id</th>
  <th scope="col">Departamento</th>
  <th scope="col">Ciudad</th>
  <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for u in object_list %}
<tr>
  <td>{{ u.id }}</td>
  <td>{{ u.get_departamento_display }}</td>  {# Muestra el nombre legible del departamento #}
  <td>{{ u.get_ciudad_display }}</td>        {# Muestra el nombre legible de la ciudad #}
  <td>
    <a href="{% url 'app:ubicacion_editar' u.id %}" class="btn btn-info btn-sm"title="Editar ubicación">
        <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'app:ubicacion_eliminar' u.id %}" class="btn btn-danger btn-sm"title="Eliminar ubicación">
        <i class="fas fa-trash"></i>
    </a>
  </td>
</tr>
{% endfor %}
{% endblock %}