{% extends "listar.html" %}

{% block columnas %}
<tr>
  <th scope="col">Id</th>
  <th scope="col">Departamento</th>
  <th scope="col">Ciudad</th>
  <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for u in object_list %}
<tr>
  <td>{{ u.id }}</td>
  <td>{{ u.departamento }}</td>
  <td>{{ u.ciudad }}</td>
  <td>
    <a href="{% url 'app:ubicacion_editar' u.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
    <a href="{% url 'app:ubicacion_eliminar' u.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
  </td>
</tr>
{% endfor %}
{% endblock %}