{% extends "listar.html" %}
{# Extiende la plantilla base 'listar.html' #}

{% load static %}
{# Carga la etiqueta estática para usar archivos estáticos #}

{% block filtro_form_contenido %}
{# Bloque para el formulario de filtrado #}
<form method="GET" action="{% url 'app:ubicacion_listar' %}">
    <div class="form-group">
        <label for="departamento">Departamento</label>
        <select class="form-control" id="departamento" name="departamento">
            <option value="">Todos</option>
            {% for departamento in departamentos %}
            <option value="{{ departamento.id }}" {% if request.GET.departamento == departamento.id|stringformat:"s" %}selected{% endif %}>
                {{ departamento.nombre }}
            </option>
            {% endfor %}
        </select>
        {# Selector para filtrar por departamento #}
    </div>

    <div class="form-group">
        <label for="municipio">Municipio</label>
        <select class="form-control" id="municipio" name="municipio">
            <option value="">Todos</option>
            {% for municipio in municipios %}
            <option value="{{ municipio.id }}" {% if request.GET.municipio == municipio.id|stringformat:"s" %}selected{% endif %}>
                {{ municipio.nombre }}
            </option>
            {% endfor %}
        </select>
        {# Selector para filtrar por municipio #}
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
    {# Botón para enviar el formulario de filtrado #}
</form>
{% endblock %}

{% block columnas %}
{# Bloque para definir las columnas de la tabla #}
<tr>
    <th scope="col">Id</th>
    <th scope="col">Departamento</th>
    <th scope="col">Municipio</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{# Bloque para definir las filas de la tabla #}
{% for u in object_list %}
<tr>
    <td>{{ u.id }}</td>
    <td>{{ u.departamento.nombre }}</td>
    <td>{{ u.municipio.nombre }}</td>
    <td>
        {% if request.user.is_superuser or request.user.is_staff %}
            <a href="#" class="btn btn-danger btn-sm delete-button" data-id="{{ u.id }}" title="Eliminar ubicación">
                <i class="fas fa-trash"></i>
            </a>
        {% else %}
            <span class="btn btn-danger btn-sm disabled" title="Eliminar ubicación">
                <i class="fas fa-trash"></i>
            </span>
        {% endif %}
        <!-- Scripts de accesibilidad y AdminLTE -->
        <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
        <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/demo.js'%}?v1.1"></script>
        <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.js' %}?v1.1"></script>
        <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
        <script>
            document.querySelectorAll('.delete-button').forEach(function(button) {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    let ubicaId = this.getAttribute('data-id');
                    let deleteUrl = "{% url 'app:ubicacion_eliminar' 0 %}".replace('0', ubicaId);
                    
                    Swal.fire({
                        title: 'Confirmación',
                        text: '¿Estás seguro de que deseas eliminar esta categoría?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, Eliminar',
                        cancelButtonText: 'Cancelar',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Enviar solicitud AJAX para eliminar la categoría
                            fetch(deleteUrl, {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}',  // Asegúrate de enviar el token CSRF
                                    'Content-Type': 'application/json',
                                },
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.status === 'success') {
                                    Swal.fire({
                                        title: 'Eliminación Exitosa',
                                        text: 'La Categoría ha sido eliminada correctamente.',
                                        icon: 'success',
                                        confirmButtonText: 'Continuar',
                                        backdrop: true,
                                        timer: 1500,
                                        timerProgressBar: true,
                                        position: 'center',
                                        allowOutsideClick: false,
                                        allowEscapeKey: false,
                                        allowEnterKey: false,
                                        stopKeydownPropagation: false,
                                        buttonsStyling: true,
                                        showCloseButton: true,
                                        closeButtonAriaLabel: 'Cerrar alerta',
                                    }).then(() => {
                                        // Recargar la página después de eliminar
                                        location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Error',
                                        text: data.message,
                                        icon: 'error',
                                    });
                                }
                            })
                            .catch(error => {
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Ocurrió un error al eliminar la categoría.',
                                    icon: 'error',
                                });
                            });
                        }
                    });
                });
            });
        </script>
    </td>
</tr>
{% endfor %}
{% endblock %}