{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Iniciar sesión</title>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post">
                {% csrf_token %}
                <h1>Crea tu cuenta</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>o utiliza tu correo electrónico para registrarte</span>
                <input type="text" name="username" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="button">Únete</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post">
                {% csrf_token %}
                <h1>Iniciar sesión</h1>
                <p></p>
                <span>Ingresa Tu Usuario</span>
                <input type="text" name="username" placeholder="Nombre de Usuario" required>
                <span>Contraseña</span>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="button">Iniciar sesión</button>
                <p></p>
                <a href="{% url 'Restablece_Contrasena' %}">Olvidaste Tu contraseña?</a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>¡Bienvenido de nuevo!</h1>
                    <p>Introduzca sus datos personales para utilizar todas las funciones del sitio</p>
                    <a href="#Contacto" class="button">Únete</a>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¡Contáctenos!</h1>
                    <p>Para Mayor Información</p>
                    <a href="/#Contacto" class="button">Contacto</a>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if form.non_field_errors %}
                Swal.fire({
                    title: 'Error de Inicio de Sesión',
                    text: 'Los datos ingresados no coinciden con nuestros registros. Por favor, verifica tus credenciales e intenta nuevamente.',
                    icon: 'warning',
                    confirmButtonText: 'Aceptar'
                });
            {% elif form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                Swal.fire({
                    title: 'Error de Datos',
                    text: 'Parece que hubo un problema con los datos ingresados. Por favor, revisa y corrige los errores a continuación:\n' + errors,
                    icon: 'warning',  
                    confirmButtonText: 'Aceptar'
                });
            {% endif %}
        });
    </script>
    <!-- Scripts de Accesibilidad y Otros -->
    <script src="{% static 'node_modules/sienna-accessibility/sienna.js' %}?v1.1"></script>
    <script src="{% static 'node_modules/sienna-accessibility/custom.js' %}?v1.1"></script>
    <script src="{% static 'lib/adminlte-3.2.0/js/demo.js' %}?v1.1"></script>
    <script>
        const requirements = document.querySelectorAll('.requirement-item');
        const passwordInput = document.querySelector('#id_new_password1');

        passwordInput.addEventListener('input', () => {
            const password = passwordInput.value;

            requirements[0].classList.toggle('checked', password.length >= 8);
            requirements[1].classList.toggle('checked', /[A-Z]/.test(password));
            requirements[2].classList.toggle('checked', /[a-z]/.test(password));
            requirements[3].classList.toggle('checked', /[0-9]/.test(password));
            requirements[4].classList.toggle('checked', /[!@#$%^&*]/.test(password));
        });
    </script>
</body>

</html>